.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 14px;
  color: #ffffff;
  list-style: none;
}
.listItem {
  width: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding: 8px;
}
.link {
  color: #ffffff;
  text-decoration: none;
}
.link:hover {
  color: #ffffff;
  transform: scale(1.03);
}
.img {
  display: block;
  object-fit: cover;
  height: 300px;
  width: 200px;
  margin: auto;
  border-radius: 5px;
}
.text {
  text-align: center;
}
.title {
  text-align: center;
}

@media (min-width: 760px) {
  .list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
  }
  .listItem {
    width: calc((100% - 2 * 20px) / 3);
  }
}

@media (min-width: 1280px) {
  .listItem {
    width: calc((100% - 4 * 20px) / 5);
  }
}
