.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: #ffffff;
  list-style: none;
}
.listItem {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  width: 260px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding: 8px;
}
.img {
  display: block;
  object-fit: cover;
  height: 200px;
  width: 150px;
  border-radius: 5px;
}

@media (min-width: 760px) {
  .list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media (min-width: 1280px) {
  .listItem {
    width: calc((100% - 3 * 20px) / 4);
  }
}
